<table id="invoiceTbl" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="size-1 alignCenter"><%=sails.__('global.stt')%></th>
            <th class="size-4 alignCenter"><%=sails.__('invoice.invoiceCode')%></th>
            <th class="size-4 alignCenter"><%=sails.__('invoice.customerName')%></th>
            <th class="size-4 alignCenter"><%=sails.__('invoice.totalPrice')%></th>
            <th class="size-4 alignCenter"><%=sails.__('invoice.trueTotalPrice')%></th>
            <th class="size-4 alignCenter">ngày bán</th>
            <th class="size-5 alignCenter"><%-sails.__('invoice.organizationName')%></th>
            <th class="size-5 alignCenter"><%-sails.__('global.status')%></th>
            <th class="size-4 alignCenter"><%=sails.__('global.action')%></th>
        </tr>
    </thead>
</table>