<table id="customerTbl" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="size-1 alignCenter"><%=sails.__('global.stt')%></th>
            <th class="size-4 alignCenter"><%=sails.__('customer.phoneNumber')%></th>
            <th class="size-6 alignCenter"><%=sails.__('customer.fullName')%></th>
            <th class="size-7 alignCenter"><%=sails.__('customer.address')%></th>
            <th class="size-7 alignCenter"><%=sails.__('customer.orgName')%></th>
            <th class="size-5 alignCenter"><%-sails.__('customer.updatedAt')%></th>
            <th class="size-4 alignCenter"><%=sails.__('global.action')%></th>
        </tr>
    </thead>
</table>