<table id="opticalTbl" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="size-1 alignCenter"><%=sails.__('global.stt')%></th>
            <th class="size-4 alignCenter"><%=sails.__('global.code')%></th>
            <th class="size-6 alignCenter"><%=sails.__('global.name')%></th>
            <th class="size-6 alignCenter"><%=sails.__('optical.price')%></th>
            <th class="size-6 alignCenter"><%=sails.__('optical.unit')%></th>
            <th class="size-3 alignCenter"><%=sails.__('optical.totalProduct')%></th>
            <th class="size-4 alignCenter"><%=sails.__('global.action')%></th>
        </tr>
    </thead>
</table>
